@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url('../src/assets/font/Pretendard-Black.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url('../src/assets/font/Pretendard-ExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('../src/assets/font/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('../src/assets/font/Pretendard-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('../src/assets/font/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('../src/assets/font/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('../src/assets/font/Pretendard-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url('../src/assets/font/Pretendard-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url('../src/assets/font/Pretendard-Thin.woff2') format('woff2');
}

html {
	scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
}

input::placeholder {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
}

textarea {
	font-size: 13px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
}

textarea::placeholder {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
}

button {
	font-family: Pretendard;
    font-style: normal;
}

.App-contents {
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
	scroll-behavior: smooth;
}

.card-title-span {
	font-weight: 700;
}

.scroll-top {
	display: none;
	position: fixed;
	top: 70%;
	left: 90%;
	cursor: pointer;
}

@media (min-width: 1300px) and (max-width: 1600px) {
    .scroll-top {
		position: fixed;
		top: 70%;
		left: 96%;
	}
}

@media (min-width: 300px) and (max-width: 1300px) {
    .scroll-top {
		position: fixed;
		top: 70%;
		left: 50%;
		opacity: 50%;
	}
}

@media (min-width: 300px) and (max-width: 1300px) {
    .GNB {
        display: none;
    }
}